# Android Studio
/EscapeApp/EscapeApp/*.iml
/EscapeApp/EscapeApp/.gradle
/EscapeApp/EscapeApp/local.properties
#/EscapeApp/EscapeApp/.idea/workspace.xml
#/EscapeApp/EscapeApp/.idea/libraries
/EscapeApp/EscapeApp/.idea
/EscapeApp/EscapeApp/.DS_Store
#/EscapeApp/EscapeApp/build
/EscapeApp/EscapeApp/captures

# Eclipse
/Escape_Room/.classpath
/Escape_Room/.project
/Escape_Room/.settings/

# Intellij
/Escape_Room/.idea/
/Escape_Room/iml
/Escape_Room/*.iws

# Mac
/Escape_Room/.DS_Store

# Maven
/Escape_Room/log/
/Escape_Room/target/